html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




* {
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	background-color: #fc7300;
	border: 2px solid black;
}

h1, form {
    padding: 15px;
	font-family: 'Young Serif', serif;
}

form {
    display: flex;
    flex-direction: row;
	width: 75%;
}

input {
    cursor: pointer;
    padding: 10px;
	width: 100%;
}

#addItem {
	border: 1px solid black;
	
}

#addButton {
	width: 25%;
	background-color: #fcc900;
	border: 1px solid black;
	border-radius: 5%;
	margin-left: 15px;
}

#displayDiv {
	padding: 20px;
	font-size: 18px;
	font-family: serif;
	display: flex;
	flex-direction: column;
}

.newDiv {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	display: flex;
	background-color: #f9d9a7 ;
	align-items: center;
	border: 2px solid black;
	font-family: 'PT Serif', serif; 
	
}

.newDiv:hover {
	background-color: #949aba;
	cursor: pointer;
}

.completed {
	text-decoration: line-through;
}

.exitButton {
	background-color: white;
	border: 2px solid black;
	border-radius: 10%;
	padding: 15px;
	font-weight: bolder;
}

.completed > .exitButton {
	text-decoration: none;
}

.exitButton:hover {
	background-color: #fd2f00;
	cursor: pointer;
}

h1 {
    font-size: xx-large;
}
